body {
    background-color: lightgrey;
    padding: 20px;
    margin: 5% 20%;
    overflow-x: hidden;
}

.body {
    background-image: radial-gradient(white,blue);
}

.content {
    background-color: whitesmoke;
    padding: 20px 20px;
    margin: -50px;
    margin-top: -1px;
    margin-bottom: -1px;
}

/* .padding { */
    /* padding: 0px 10px 0px 10px; */
/* } */
.product {
    padding: 10px px;
    margin: 20px 20px;
    background-color: white;
    border-bottom: 3.5px solid  rgb(168, 173, 177);
    border-radius: 20px;
    
}

h1 {
    padding: 20px 20px;
    background-color: white;
    margin: -50px;
    margin-bottom: 7px;
    font-style: inherit;
}

.picture img {
   margin: -19px;
   margin-right: -40px;
   margin-left: -40px;
   width: 15vw;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.products {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}



h3 {
    padding-left: 10px;
    padding-top: 5px;
}


h6 {
    padding-left: 10px;
    padding-top: 3px;
}
.foot {
    padding: 15px 15px;
    background-color: rgb(199, 200, 201);
    margin: -50px;
    margin-top: -20px;
    /* text-align: center; */
    justify-content: space-between;
    }
 h6 p {
    display: flex; justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    
 }

   .button1 {
    background-color: rgb(0, 81, 255);
    color: white;
    padding: 10px;
    padding-left: 10%;
    border-radius: 6px;
    border: none;
    font-size: 70%;
 }

 .padding {
    display: flex;
    justify-content: space-around;
     }

 .button1:hover {
    scale: 1.2;
    font-size: 1rem;
    padding: 7px 17px;
    display: flex;
    color: white;
    background-color: rgba(3, 3, 248, 0.833);
    border: none;
    border-radius: 10px;
     }

     p {
        align-items: center;
     }

     .purchase1 {
        font-size: 1.3rem;
        align-items: center;
        /* margin: 2px 2px; */
        background-image: linear-gradient(blue,white,blue,white,blue);
        padding: 80px;
        border-radius: 60px;
        margin-right: -2px;
        margin-left: -2px;
        margin-top: -5px;
      
     }

     .body2 {
        background-image: radial-gradient(white,green); 
        background-image: linear-gradient(purple,white);
     }
     

     .content2 {
        background-color: white;
        padding: 10px;
        margin: 40px;
        padding-left: 25%;
        padding-top: 15%;
        border-radius: 40px;
        border-left: 3px solid  rgb(90, 89, 89);
        border-bottom: 4px solid  rgb(90, 89, 89);
        border-right: 3px solid  rgb(90, 89, 89);;
        border-top: 4px solid rgb(90, 89, 89);
        
       
     }

     input {
        padding-right: 25%;
     }
     
     .intro {
        padding: 27px;
        text-align: center;
        margin-bottom: -25.3%;
        color: white;
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
        margin-left: -0.1%;
        margin-right: -0.1%;
         }

         .button2 {
            display: flex;
            justify-content: right;
         }
     
         a {
            color: white;
            text-decoration: none;
         }

         .button2 {
            scale: 1.7;
            margin-bottom: 20%;
            /* display: flex; */
            margin-left: 50%;
            color: white;
            background-color:  rgba(3, 3, 248, 0.833);
            border: none;
            border-radius: 10px;
            padding: 7px 5px;
            margin-top: -30px;
         }

         .successful {
            font-size: 1.3rem;
            align-items: center;
            text-align: center;
            background-image: linear-gradient(white,purple,purple,white);
             padding-left: 7%;
            scale: 1.6;
            /* margin-left: 10%; */
            /* border-radius: 60px; */
            color: white;
            display: flex;
             /* margin-top: 30%;  */
            /* padding-top: -3%; */ 
           
         }
         
         .button3 {
        scale: 2;
        display: flex;
        align-items: center;
        background-color: black;
        flex-direction: row;
        justify-content: space-evenly;
        /* margin-left: 5px; */
        margin-bottom: 10rem;
        margin-top: 10%;
         }

     


 /* iPads (portrait and landscape) ----------- */
@media  screen 
and (min-device-width : 768px) 
and (max-device-width : 1223px) {
    .picture img{
        width: 100%;
    }
    .picture{
        width: 100%;
    }
 
    .products{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
    }
        .product {
            width: 40%;

        }
}
/* Smartphones (portrait and landscape) ----------- */
@media  screen 
and (min-device-width : 106px) 
and (max-device-width : 767px) {
    h6 p {
        padding: 0%;
    }
.picture img{
    width: 100%;
}
.picture{

    width: 100%;
}
    .content {
        display: flex;
        flex-direction: column;
    }
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    .product {
        width: 80%;
    }


    .purchase1 {
        font-size: 1.3rem;
        align-items: center;
        /* margin: 2px 2px; */
        background-image: linear-gradient(blue,white,blue,white,blue);
        padding: 80px;
        border-radius: 60px;
        margin-right: -2px;
        margin-left: -2px;
        margin-top: -5px;
      
     }

     .body2 {
        background-image: radial-gradient(white,green); 
        background-image: linear-gradient(purple,white);
     }
     

     .content2 {
        background-color: white;
        padding: 10px;
        margin: 40px;
        padding-left: 25%;
        padding-top: 15%;
        border-radius: 40px;
        border-left: 3px solid  rgb(90, 89, 89);
        border-bottom: 4px solid  rgb(90, 89, 89);
        border-right: 3px solid  rgb(90, 89, 89);;
        border-top: 4px solid rgb(90, 89, 89);
        
       
     }

     input {
        padding-right: 25%;
     }
     
     .intro {
        padding: 27px;
        text-align: center;
        margin-bottom: -25.3%;
        color: white;
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
        margin-left: -0.1%;
        margin-right: -0.1%;
         }

         .button2 {
            display: flex;
            justify-content: right;
         }
     
         a {
            color: white;
            text-decoration: none;
         }

         .button2 {
            scale: 1.7;
            margin-bottom: 20%;
            /* display: flex; */
            margin-left: 50%;
            color: white;
            background-color:  rgba(3, 3, 248, 0.833);
            border: none;
            border-radius: 10px;
            padding: 7px 5px;
            margin-top: -30px;
         }

         .successful {
            /* font-size: 1.3rem;
            align-items: center;
            text-align: center;
            background-image: linear-gradient(white,purple,purple,white);
             padding-left: 7%;
            scale: 1.6;
            
            color: white;
            display: flex; */
             
           
         }
         
         .button3 {
        /* scale: 2;
        display: flex;
        align-items: center;
        background-color: black;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 5px;
        margin-bottom: 10rem;
        margin-top: 10%; */
         }


    }


/* Destops or Large screens */
@media screen and (min-width: 1224px) {
}